.search-input {
  padding: 0rem 0 1rem 0;
}

.search-input form {
  display: flex;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.search-input input {
  padding: .5rem 1rem;
  border: none;
  background-color: #1f1f1f;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
}

.search-input input:focus {
  outline: none;
  border-bottom: 1px solid #a445ed;
}

.search-input form > button {
  border: none;
  background-color: #1f1f1f;
}

.search-img {
  color: #fff;
  font-size: 2rem;
}

.search-icon {
  position: absolute;
  top: 45%;
  right: 35%;
  background-color: #1f1f1f;
  width: 3%;
  height: 7%;
  background-color: none;
}